* {

  margin: 0;

  padding: 0;

  box-sizing: border-box;

}


body {

  width: 100%;

  min-height: 100vh;

  overflow: hidden;

  position: relative;

  display: flex;

  justify-content: center;

  align-items: center;


  font-family:
    Georgia,
    "Times New Roman",
    serif;


  background:

    radial-gradient(
      circle at 50% 20%,
      #426d9b 0%,
      #294b73 30%,
      #152d50 60%,
      #07152d 100%
    );

}


/* =================================
   ESTRELAS
================================= */

.stars span {

  position: absolute;

  color: #dff7ff;

  font-size: 18px;

  animation: brilho 3s infinite alternate;

}


.stars span:nth-child(1) {

  top: 12%;

  left: 15%;

}


.stars span:nth-child(2) {

  top: 20%;

  left: 30%;

  animation-delay: 1s;

}


.stars span:nth-child(3) {

  top: 10%;

  right: 25%;

  animation-delay: 2s;

}


.stars span:nth-child(4) {

  top: 30%;

  right: 12%;

}


.stars span:nth-child(5) {

  top: 17%;

  left: 65%;

  animation-delay: 1.5s;

}


.stars span:nth-child(6) {

  top: 35%;

  left: 8%;

  animation-delay: .5s;

}


@keyframes brilho {

  from {

    opacity: .3;

    transform: scale(.7);

  }

  to {

    opacity: 1;

    transform: scale(1.3);

  }

}


/* =================================
   LUA
================================= */

.moon {

  position: absolute;

  top: 8%;

  right: 12%;

  width: 85px;

  height: 85px;

  border-radius: 50%;

  background:

    radial-gradient(
      circle at 35% 30%,
      #ffffff,
      #d8f5ff 60%,
      #acd6ec
    );

  box-shadow:

    0 0 25px #dff8ff,

    0 0 60px
    rgba(190, 235, 255, .6);

}


.moon::after {

  content: "";

  position: absolute;

  width: 18px;

  height: 18px;

  border-radius: 50%;

  background: #c0e1ef;

  top: 20px;

  left: 25px;

  opacity: .5;

}


/* =================================
   NEVE
================================= */

.snow {

  position: absolute;

  top: -50px;

  z-index: 3;

  color: #ffffff;

  opacity: .8;

  font-size: 22px;

  animation:
    nevar 10s linear infinite;

}


.snow1 {

  left: 5%;

  animation-delay: 0s;

}


.snow2 {

  left: 15%;

  animation-delay: 2s;

}


.snow3 {

  left: 27%;

  animation-delay: 4s;

}


.snow4 {

  left: 39%;

  animation-delay: 1s;

}


.snow5 {

  left: 52%;

  animation-delay: 5s;

}


.snow6 {

  left: 65%;

  animation-delay: 3s;

}


.snow7 {

  left: 76%;

  animation-delay: 6s;

}


.snow8 {

  left: 86%;

  animation-delay: 2.5s;

}


.snow9 {

  left: 94%;

  animation-delay: 7s;

}


.snow10 {

  left: 45%;

  animation-delay: 8s;

}


@keyframes nevar {

  0% {

    transform:
      translateY(-50px)
      translateX(0)
      rotate(0deg);

    opacity: 0;

  }


  15% {

    opacity: .9;

  }


  50% {

    transform:
      translateY(50vh)
      translateX(30px)
      rotate(180deg);

  }


  100% {

    transform:
      translateY(110vh)
      translateX(-30px)
      rotate(360deg);

    opacity: .1;

  }

}


/* =================================
   FLORESTA
================================= */

.forest {

  position: absolute;

  bottom: 12%;

  left: 0;

  width: 100%;

  height: 45%;

  z-index: 1;

}


/* =================================
   ÁRVORES
================================= */

.tree {

  position: absolute;

  bottom: 0;

  width: 100px;

  height: 230px;

  transform-origin: bottom;

  animation: balancar 5s ease-in-out infinite;

}


.tree1 {

  left: 2%;

  transform: scale(.8);

}


.tree2 {

  left: 16%;

  transform: scale(1.1);

  animation-delay: 1s;

}


.tree3 {

  left: 32%;

  transform: scale(.7);

  animation-delay: 2s;

}


.tree4 {

  right: 27%;

  transform: scale(1.05);

  animation-delay: .5s;

}


.tree5 {

  right: 12%;

  transform: scale(.8);

  animation-delay: 1.5s;

}


.tree6 {

  right: 0%;

  transform: scale(1.15);

  animation-delay: 2.5s;

}


@keyframes balancar {

  0%,
  100% {

    margin-left: 0;

  }

  50% {

    margin-left: 5px;

  }

}


/* TRONCO */

.trunk {

  position: absolute;

  bottom: 0;

  left: 43%;

  width: 18px;

  height: 80px;

  background:
    linear-gradient(
      to right,
      #263b4a,
      #142633
    );

  border-radius: 3px;

}


/* PARTE DE CIMA */

.tree-top,
.tree-middle,
.tree-bottom {

  position: absolute;

  left: 50%;

  transform: translateX(-50%);

  background:

    linear-gradient(
      135deg,
      #21475b,
      #102f45
    );

  clip-path:
    polygon(
      50% 0,
      100% 100%,
      0 100%
    );

}


/* COPA */

.tree-top {

  width: 65px;

  height: 75px;

  top: 5px;

}


.tree-middle {

  width: 90px;

  height: 95px;

  top: 55px;

}


.tree-bottom {

  width: 120px;

  height: 110px;

  top: 105px;

}


/* NEVE NAS ÁRVORES */

.tree-top::after,
.tree-middle::after,
.tree-bottom::after {

  content: "";

  position: absolute;

  top: 0;

  left: 10%;

  width: 80%;

  height: 15px;

  background: #e9faff;

  border-radius: 50%;

  opacity: .9;

}


/* =================================
   CHÃO
================================= */

.ground {

  position: absolute;

  bottom: 0;

  left: 0;

  width: 100%;

  height: 18%;

  z-index: 2;


  background:

    linear-gradient(
      to top,
      #e9faff,
      #c6e7f4
    );


  clip-path:

    polygon(
      0 35%,
      12% 15%,
      25% 32%,
      40% 10%,
      55% 30%,
      70% 12%,
      85% 28%,
      100% 8%,
      100% 100%,
      0 100%
    );

}


/* =================================
   CALCULADORA
================================= */

.calculator {

  position: relative;

  z-index: 10;

  width: 360px;

  padding: 25px;

  border-radius: 30px;


  background:

    linear-gradient(
      145deg,
      rgba(235, 250, 255, .24),
      rgba(50, 115, 155, .18)
    );


  border:

    1px solid
    rgba(230, 250, 255, .6);


  backdrop-filter:
    blur(18px);


  box-shadow:

    0 25px 80px
    rgba(0, 10, 35, .65),

    inset 0 1px 2px
    rgba(255,255,255,.7),

    0 0 30px
    rgba(160,225,255,.15);

}


/* =================================
   TITULO
================================= */

.calculator-title {

  display: flex;

  justify-content: center;

  align-items: center;

  gap: 12px;

}


.calculator-title h1 {

  color: #f2fcff;

  font-size: 25px;

  text-shadow:

    0 0 8px
    rgba(190,240,255,.8);

}


.calculator-title span {

  color: #d8f8ff;

  font-size: 23px;

}


/* =================================
   SUBTITULO
================================= */

.subtitle {

  text-align: center;

  margin-top: 5px;

  margin-bottom: 18px;

  color: #d3f1ff;

  font-size: 12px;

  letter-spacing: 1px;

}


/* =================================
   DISPLAY
================================= */

.display {

  height: 105px;

  padding: 15px;

  margin-bottom: 15px;

  border-radius: 20px;


  background:

    rgba(4, 25, 45, .65);


  border:

    1px solid
    rgba(220,250,255,.3);


  box-shadow:

    inset 0 0 20px
    rgba(0,0,0,.25);

}


.previous {

  height: 25px;

  color: #8fc4db;

  text-align: right;

  font-size: 14px;

}


.current {

  color: #f3fcff;

  font-size: 35px;

  font-weight: bold;

  text-align: right;

  overflow-wrap: anywhere;

  text-shadow:

    0 0 10px
    rgba(200,245,255,.5);

}


/* =================================
   BOTÕES
================================= */

.buttons {

  display: grid;

  grid-template-columns:
    repeat(4, 1fr);

  gap: 9px;

}


button {

  height: 58px;

  border: none;

  border-radius: 17px;


  color: #f3fcff;

  font-size: 19px;

  font-weight: bold;


  cursor: pointer;


  background:

    linear-gradient(
      145deg,
      rgba(220,250,255,.25),
      rgba(70,145,180,.25)
    );


  border:

    1px solid
    rgba(225,250,255,.3);


  box-shadow:

    inset 0 1px
    rgba(255,255,255,.35),

    0 5px 12px
    rgba(0,20,40,.25);


  transition:
    .2s;

}


button:hover {

  transform:
    translateY(-3px);


  background:

    linear-gradient(
      145deg,
      rgba(240,255,255,.45),
      rgba(90,175,210,.35)
    );


  box-shadow:

    0 5px 20px
    rgba(170,235,255,.3);

}


button:active {

  transform:
    scale(.94);

}


/* OPERADORES */

.operator {

  background:

    linear-gradient(
      145deg,
      rgba(75,160,205,.65),
      rgba(40,100,150,.6)
    );

}


/* LIMPAR */

.clear {

  background:

    linear-gradient(
      145deg,
      rgba(110,170,195,.5),
      rgba(70,110,140,.5)
    );

}


/* APAGAR */

.delete {

  background:

    linear-gradient(
      145deg,
      rgba(80,120,145,.6),
      rgba(45,80,105,.6)
    );

}


/* IGUAL */

.equals {

  background:

    linear-gradient(
      145deg,
      #e9fbff,
      #9fd8ee
    );


  color: #163c55;


  box-shadow:

    0 0 15px
    rgba(190,240,255,.35);

}


.equals:hover {

  background:

    linear-gradient(
      145deg,
      #ffffff,
      #c9efff
    );

}


/* ZERO */

.zero {

  grid-column:
    span 2;

}


/* =================================
   TEXTO FINAL
================================= */

.footer-text {

  margin-top: 15px;

  text-align: center;

  color: #b8e4f4;

  font-size: 10px;

  letter-spacing: 1px;

}


/* =================================
   CELULAR
================================= */

@media (max-width: 500px) {

  .calculator {

    width: 90%;

    padding: 20px;

  }


  .moon {

    right: 5%;

    transform: scale(.7);

  }


  .tree {

    opacity: .7;

  }

}